Repository CentreForDigitalHumanities/I-analyzer, pull requests merged in 2024-11, with the labels that each got.

#1684 set minimum size for terms aggregation in visualisation
  frontend/src/app/visualization/barchart/histogram.component.ts
Labels: bug, frontend, visualisation

#1686 fix date sorting in times corpus
  backend/corpora/times/times.py
Labels: bug, corpus

#1694 Add Estimated Centuries filter in Jewish Migration
  backend/corpora/jewishmigration/jewishmigration.py
  backend/corpora/jewishmigration/test_jewishmigration.py
Labels: affects-elasticsearch-index

#1703 resolve warnings
  backend/addcorpus/python_corpora/tests/test_save_corpus.py
  backend/addcorpus/tests/test_filters.py
  backend/addcorpus/validation/creation.py
  backend/api/save_query.py
  backend/api/tests/test_api_views.py
  backend/conftest.py
  backend/corpora/dbnl/tests/test_dbnl_extraction.py
  backend/corpora/dbnl/utils.py
  backend/corpora/dutchnewspapers/dutchnewspapers_public.py
  backend/corpora/ecco/ecco.py
  backend/corpora/parliament/conftest.py
  backend/corpora/parliament/netherlands.py
  backend/corpora/parliament/tests/test_utils.py
  backend/corpora_test/mixed_language/multilingual_mock_corpus.py
  backend/corpora_test/small/small_mock_corpus.py
  backend/es/tests/test_sync.py
  backend/ianalyzer/common_settings.py
  backend/ianalyzer/elasticsearch.py
  backend/ianalyzer/settings_test.py
  backend/media/image_processing.py
  backend/requirements.in
  backend/requirements.txt
  backend/visualization/conftest.py
  backend/visualization/termvectors.py
Labels: code quality, backend
