Repository CentreForDigitalHumanities/I-analyzer, pull requests merged in 2024-04, with the labels that each got.

#1514 no load _corpus_definition in wordcloud
  backend/corpora/dutchannualreports/dutchannualreports.py
  backend/corpora/dutchnewspapers/dutchnewspapers_public.py
  backend/corpora/guardianobserver/guardianobserver.py
  backend/corpora/parliament/canada.py
  backend/corpora/parliament/denmark-new.py
  backend/corpora/parliament/denmark.py
  backend/corpora/parliament/finland.py
  backend/corpora/parliament/france.py
  backend/corpora/parliament/germany-new.py
  backend/corpora/parliament/germany-old.py
  backend/corpora/parliament/netherlands.py
  backend/corpora/parliament/norway-new.py
  backend/corpora/parliament/norway.py
  backend/corpora/parliament/sweden-old.py
  backend/corpora/parliament/sweden.py
  backend/corpora/parliament/uk.py
  backend/corpora/parliament/utils/field_defaults.py
  backend/corpora/periodicals/periodicals.py
  backend/corpora/times/times.py
  backend/visualization/tests/mock_corpora/small_mock_corpus.py
  backend/visualization/wordcloud.py
Labels: backend

#1515 implement has_python_definition on corpus model
  backend/addcorpus/admin.py
  backend/addcorpus/migrations/0014_corpus_has_python_definition.py
  backend/addcorpus/models.py
  backend/addcorpus/python_corpora/save_corpus.py
  backend/addcorpus/python_corpora/tests/TDA_GDA/TDA_GDA_1785-2009/1970/19700101/0FFO-1970-JAN01.xml
  backend/addcorpus/python_corpora/tests/test_corpusimport.py
  backend/addcorpus/python_corpora/tests/test_save_corpus.py
  backend/addcorpus/python_corpora/tests/test_times_source.py
  backend/addcorpus/validation/indexing.py
  backend/addcorpus/views.py
  backend/ianalyzer/settings_test.py
  documentation/Corpus-definitions.md
Labels: backend

#1519 parse JSON corpus definition
  backend/addcorpus/admin.py
  backend/addcorpus/es_mappings.py
  backend/addcorpus/es_settings.py
  backend/addcorpus/json_corpora/__init__.py
  backend/addcorpus/json_corpora/conftest.py
  backend/addcorpus/json_corpora/import_json.py
  backend/addcorpus/json_corpora/tests/mock_corpus.json
  backend/addcorpus/json_corpora/tests/test_import.py
  backend/addcorpus/json_corpora/tests/test_utils.py
  backend/addcorpus/json_corpora/tests/test_validate.py
  backend/addcorpus/json_corpora/utils.py
  backend/addcorpus/json_corpora/validate.py
  backend/addcorpus/migrations/0016_alter_corpusconfiguration_document_context.py
  backend/addcorpus/migrations/0017_source_data.py
  backend/addcorpus/migrations/0018_field_extract_options.py
  backend/addcorpus/migrations/0019_merge_20240411_1609.py
  backend/addcorpus/migrations/0020_simplify_extraction_data.py
  backend/addcorpus/models.py
  backend/addcorpus/schemas/corpus.schema.json
  backend/addcorpus/tests/test_es_mapping.py
  backend/addcorpus/tests/test_es_settings.py
  backend/addcorpus/urls.py
  backend/addcorpus/validation/creation.py
  backend/addcorpus/validation/publishing.py
  backend/conftest.py
  backend/ianalyzer/settings.py
  backend/ianalyzer/settings_test.py
  frontend/src/app/services/corpus.service.ts
Labels: backend

#1530 Feature/settings documentation
  backend/ianalyzer/settings.py
  documentation/Django-project-settings.md
  documentation/First-time-setup.md
  documentation/How-to-add-a-new-corpus-to-Ianalyzer.md
  documentation/SAML.md
Labels: backend, documentation

#1541 Feature/corpus readers
  backend/addcorpus/admin.py
  backend/addcorpus/json_corpora/conftest.py
  backend/addcorpus/json_corpora/import_json.py
  backend/addcorpus/migrations/0021_corpusconfiguration_data_directory.py
  backend/addcorpus/models.py
  backend/addcorpus/python_corpora/load_corpus.py
  backend/addcorpus/python_corpora/save_corpus.py
  backend/addcorpus/python_corpora/tests/test_save_corpus.py
  backend/addcorpus/reader.py
  backend/addcorpus/tests/mock_csv_corpus.py
  backend/addcorpus/tests/test_csvcorpus.py
  backend/addcorpus/tests/test_reader.py
  backend/addcorpus/validation/creation.py
  backend/conftest.py
  backend/corpora/parliament/parliament.py
  backend/corpora/peaceportal/peaceportal.py
  backend/corpora_test/mock_corpus.json
  backend/download/tests/mock_corpora/multilingual_mock_corpus.py
  backend/visualization/tests/mock_corpora/large_mock_corpus.py
  backend/visualization/tests/mock_corpora/small_mock_corpus.py
  backend/wordmodels/tests/mock-corpus/mock_corpus.py
  documentation/How-to-add-a-new-corpus-to-Ianalyzer.md
Labels: backend

#1552 don't require authentication for field coverage
  backend/visualization/views.py
Labels: bug, backend
